body {
    background-color:rgba(198, 212, 233, 0.6)
}

.card-body {
    background-color: black;
    color: white;
    border: 4mm ridge rgba(6, 224, 35, 0.6);
}

.btn {
    background-color:rgba(56, 252, 82, 0.6);
}

h1 {
    color:rgba(2, 87, 13, 0.6);
}

h5 {
    color:rgba(2, 87, 13, 0.6);
}